[workspace]
members = ["openpad-app", "openpad-protocol", "openpad-widgets"]
resolver = "2"

[workspace.dependencies]
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
